apiVersion: v1
baseDomain: {{ openshift_install_cluster.base_domain }}
metadata:
  name: {{ openshift_install_artifacts.install_config.metadata_name }}
compute:
  - name: worker
    replicas: {{ openshift_install_artifacts.install_config.compute_replicas }}
controlPlane:
  name: master
  replicas: {{ openshift_install_artifacts.install_config.control_plane_replicas }}
networking:
  networkType: {{ openshift_install_artifacts.install_config.network_type }}
  machineNetwork:
    - cidr: {{ openshift_install_cluster.network.machine_cidr }}
  clusterNetwork:
{% for entry in openshift_install_artifacts.install_config.cluster_network %}
    - cidr: {{ entry.cidr }}
      hostPrefix: {{ entry.host_prefix }}
{% endfor %}
  serviceNetwork:
{% for cidr in openshift_install_artifacts.install_config.service_network %}
    - {{ cidr }}
{% endfor %}
platform:
  baremetal:
    apiVIPs:
      - {{ openshift_install_cluster.network.api_vip }}
    ingressVIPs:
      - {{ openshift_install_cluster.network.ingress_vip }}
pullSecret: >-
  {{ stakkr_openshift_install_artifacts_pull_secret_raw.content | b64decode | trim }}
sshKey: >-
  {{ stakkr_openshift_install_artifacts_ssh_public_key_raw.content | b64decode | trim }}
{% if openshift_install_artifacts.additional_trust_bundle_file | length > 0 %}
additionalTrustBundle: |
{{ stakkr_openshift_install_artifacts_trust_bundle_raw.content | b64decode | indent(2, true) }}
{% endif %}

