---
openshift_install_cluster:
  name: ocp
  base_domain: stakkr.lan
  network:
    machine_cidr: 192.168.50.0/24
    machine_gateway: 192.168.50.1
    machine_dns_servers:
      - 192.168.1.142
      - 192.168.1.242
    api_vip: 192.168.50.5
    ingress_vip: 192.168.50.7
  nodes:
    - name: ocp-sno-01
      role: control-plane
      mac_address: "52:54:00:40:00:10"
      machine_network:
        ipv4_address: 192.168.50.11
        prefix_length: 24
    - name: ocp-worker-01
      role: worker
      mac_address: "52:54:00:40:00:20"
      machine_network:
        ipv4_address: 192.168.50.21
        prefix_length: 24

